
<div class="testClass">
  <h3>Welcome to Master Page</h3>
</div>

<div class="div1">

  <a [routerLink]="['/Pizza']">Pizza</a> <br>
  <a [routerLink]="['/Counter']">Counter</a><br>
  <a [routerLink]="['/Course']">Course</a><br>
  <a [routerLink]="['/Query']">Query</a><br>
  <a [routerLink]="['/Trade']">Trade</a> <br>
  <a [routerLink]="['/Form']">Form</a> <br>
  <a [routerLink]="['/Sort']">Sort</a> <br>
  <a [routerLink]="['/Child']">Child</a> <br>
  <a [routerLink]="['/Login']">Login</a> <br>

</div>
<div>
  <router-outlet></router-outlet>
</div>
<!--
<nav>
  <a routerLink="/Pizza">Pizza</a> <br>
  <a routerLink="/Counter">Counter</a><br>
  <a routerLink="/Course">Course</a><br>
  <a routerLink="/Query">Query</a><br>
  <a routerLink="/Trade">Trade</a> <br>
</nav>
<router-outlet></router-outlet> -->
